body {
  width: 100vw;
  background-color: gainsboro;
}

.div1 {
  width: 800px;
  height: 800px;
  background-color: blue;
  position: relative;
  top: calc(50% - 50vw);
  left: calc(50% - 50vh);
}

.div2 {
  width: 650px;
  height: 650px;
  background-color: red;
  position: absolute;
  top: calc(50% - 325px);
  left: calc(50% - 325px);
}

.div3 {
  width: 450px;
  height: 450px;
  background-color: black;
  position: absolute;
  top: calc(50% - 225px);
  left: calc(50% - 225px);
}

.div4 {
  width: 250px;
  height: 250px;
  background-color: green;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
}

.div5 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
